/***************************************************/
/* CSS reset */

	/* http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126 License: none (public domain) (Manipulated by Martin Skiöld 2014) */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
	figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	}
	/* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block; }
	body {
	line-height: 1.5; }
	ol, ul {
	list-style: none; }
	blockquote, q {
	quotes: none; }
	blockquote:before, blockquote:after, q:before, q:after {
	content: none; }
	table {
	border-collapse: collapse;
	border-spacing: 0; }

/***************************************************/


/***************************************************/

	*{
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	h1,h2,h3,h4,p,span, q, blockquote,li,ol,tr,td,th,figcaption, a{
		font-family: helvetica, sans-serif;
		font-weight: 200;
		color: #ddd;
	}
	
		html{
			height: 100%; 
		}

			body{
				position: relative;
				height: 100%;
			}

				header{
					position: absolute;
					top: 0px;
					width: 100%;
					border-bottom: 1px solid white;
					height: 50px;
					background: linear-gradient(180deg, #292929, #202020);
					z-index: 100;
				}

					header h1{
						margin: 1em auto;
						width: 6em;
					}

					header p{
						position: absolute;
						right: 2em;
						top: 1em;					}

				canvas{
					position: absolute;
					top: 50px;
				}

				.messageWrapper{
					background: linear-gradient(180deg, #292929, #202020);
					width: 50%;
					height: 50%;
					left: 25%;
					top: 25%;
					position: absolute;
					border-radius: 100px;
					display: none;
				}

				.message_header {
					text-align: center;
					width: 100%;
					margin-top: 1em;
					font-size: 3em;
					font-weight: 100;
				}

				.message_text {
					text-align: center;
					width: 80%;
					margin: 0.2em auto;
					font-size: 0.8em;
					font-weight: 100;
				}

				.messageWrapper div{
					text-align: center;
					margin-top: 1em;
					width: 100%;
					font-size: 2em;
					font-weight: 100;
				}

				.messageWrapper a{	
					cursor: pointer;
					-webkit-user-select: none;
					-moz-user-select: none;
					-o-user-select: none;
					-ms-user-select: none;
					user-select: none;
				}#messageWrapper a:hover{
					opacity: 0.5;
					filter: alpha(opacity=50);
				}

				#instr_link{
					cursor: pointer;
					-webkit-user-select: none;
					-moz-user-select: none;
					-o-user-select: none;
					-ms-user-select: none;
					user-select: none;
				}#instr_link:hover{
					opacity: 0.5;
					filter: alpha(opacity=50);
				}

